.ModalPledges {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(black, 0.6);
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: auto;
    padding-top: 180px;
    padding-bottom: 280px;

    .modal-content {
        width: 730px;
        max-width: calc(100vw - 40px);
        background-color: white;
        border: 1px solid var(--dark-gray);
        border-radius: var(--boxes-border-radius);
        text-align: left;
        padding-bottom: 50px;
        position: relative;
        
        h2, .project-info {
            padding: 0 50px;
        }

        h2 {
            margin-top: 50px;
        }
        
        .project-info {
            color: var(--dark-gray);
            padding-bottom: 10px
        }
    }

    .close-button {
        position: absolute;
        height: 15px;
        width: 15px;
        --size: 35px;
        right: var(--size);
        top: var(--size);
        background-color: var(--dark-gray);
        opacity: 0.7;
        -webkit-mask: url('../assets/images/icon-close-modal.svg') no-repeat center;
        mask: url('../assets/images/icon-close-modal.svg') no-repeat center;

        &:hover {
            cursor: pointer;
            background-color: black;
        }
    }

    @media screen and (max-width: 475px) {
        .modal-content {            
            h2 {
                margin-top: 30px;
            }

            h2, .project-info {
                padding: 0 20px;
             }
        }

        .close-button {
            right: var(--mobile-side-margin);
        }
    }
}