.Project {
    --side-padding: 45px;
    --mobile-side-padding: 20px;

    position: relative;
    top: -100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;

    .amount {
        font-size: 2em;
        font-weight: 700;
    }

    .total {
        color: var(--dark-gray);
        font-weight: 500;
    }

    @media screen and (max-width: 850px) {
        flex: 1;
        margin: 0 var(--mobile-side-margin);
    }

    @media screen and (max-width: 475px) {
        & {
            flex: 1;
            margin: 0 var(--mobile-side-margin);
        } 
    }
}